.carousel-item {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.slide-in {
  animation: slide-in 0.5s ease-in forwards;
}
.slide-out {
  animation: slide-out 0.5s ease-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.caro-cont {
  position: relative;
  animation: scrl 20s linear infinite;
}

@keyframes scrl {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-500%);
  }
}
